/* Font init */
$BuenosAiresTTF-Bold : 'BuenosAiresTTF-Bold';
$BuenosAiresTTF-BoldItalic : 'BuenosAiresTTF-BoldItalic';
$BuenosAiresTTF-Light : 'BuenosAiresTTF-Light';
$BuenosAiresTTF-LightItalic : 'BuenosAiresTTF-LightItalic';
$BuenosAiresTTF-Regular : 'BuenosAiresTTF-Regular', sans-serif;
$BuenosAiresTTF-RegularItalic : 'BuenosAiresTTF-RegularItalic';
$SVN-NewAthleticM54 : 'SVN-NewAthleticM54';
$Roboto : 'Roboto', sans-serif;
/* Font init */

$C_WHITE : #FFF;
$C_BLACK : #0a0a0a;
$C_TEXT: #404040;
$C_333 : #333;
$C_BLACK_BORDER: #454444;
$C_TOPBAR_HOVER: #050505;
$C_373737 : #373737;
$C_Border: #ccc;
$C_EBG: #eee;
$C_555 : #555;