// File: _header.scss
// File này chứa tất cả code Sass style cho header.
/* STYLES GO HERE */
.MainMenuWrapper {
    .MainMenuContent {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .Logo {
            @include flex(15%);
            a{
                display: block;
                img{
                    display: block;
                    width: 100%;
                    max-width: 140px;
                }
            }
        }

        .RightMenu {
            @include flex(70%);
            display: flex;
            flex-direction: column;
            text-align: right;

            .Top {
                ul.Menu {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;

                    li.MenuItem {
                        flex: 1;

                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            padding: 10px 0;

                            span {
                                display: block;
                            }

                            span.Icon {
                                img {
                                    display: block;
                                    margin: 0 auto;
                                    max-width: 50px;
                                }
                            }
                            span.Text {
                                font-family: $Roboto;
                                font-weight: 500;
                                color: $C_373737;
                            }
                        }
                    }

                    li.CartText {
                        a {
                            display: flex;
                            align-items: flex-end !important;
                            justify-content: flex-end;
                            span.CartIcon {
                                display: block;
                                position: relative;
                                color: $C_373737;

                                svg,
                                i {
                                    font-size: 20px;
                                }

                                .CartCount {
                                    display: block;
                                    background-color: $C_373737;
                                    color: $C_WHITE;
                                    padding: 1px 5px;
                                    border-radius: 15px;
                                    font-family: $Roboto;
                                    font-size: 11px;
                                    position: absolute;
                                    bottom: 75%;
                                    left: 75%;
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    li.HasDropdownMenu{
                        position: relative;
                        
                        .DropdownMenu{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: $C_WHITE;
                            visibility: hidden; /* hides sub-menu */
                            opacity: 0;
                            transform: translateY(-2em);
                            z-index: 2;
                            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                            ul.Dropdown{
                                width: 200px;
                                -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                border-top: none;
                                .DropdownItem{
                                    padding: 8px 15px;
                                    background-color: $C_WHITE;
                                    @include transition(background-color linear .15s);
                                    cursor: pointer;
                                    a{
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: flex-start;
                                        font-family: $Roboto;
                                        padding: 0;
                                        text-align: left;
                                        span{
                                            display: block;
                                            text-transform: uppercase;
                                            color: $C_373737;
                                            
                                            svg,i{
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                    &:hover{
                                        background-color: $C_EBG;
                                    }
                                }
                                
                                .HasSubMenu{
                                    position: relative;
                                    .SubMenuContent{
                                        position: absolute;
                                        top: 0;
                                        left: 100%;
                                        background-color: $C_WHITE;
                                        visibility: hidden; /* hides sub-menu */
                                        opacity: 0;
                                        transform: translateX(10px);
                                        z-index: 2;
                                        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                                        ul.SubMenu{
                                            width: 200px;
                                            -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                            -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                            box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
                                            .SubMenuItem{
                                                padding: 8px 15px;
                                                background-color: $C_WHITE;
                                                @include transition(background-color linear .15s);
                                                cursor: pointer;
                                                a{
                                                    display: flex;
                                                    align-items: flex-start;
                                                    justify-content: flex-start;
                                                    font-family: $Roboto;
                                                    padding: 0;
                                                    text-align: left;
                                                    span{
                                                        display: block;
                                                        text-transform: uppercase;
                                                        color: $C_373737;

                                                        svg,i{
                                                            margin-right: 10px;
                                                        }
                                                    }
                                                }
                                                &:hover{
                                                    background-color: $C_EBG;
                                                }
                                            }

                                            .HasSubMenu{
                                                position: relative;

                                            }
                                        }
                                    }

                                    &:hover{
                                        .SubMenuContent{
                                            visibility: visible; /* shows sub-menu */
                                            opacity: 1;
                                            transform: translateX(0%);
                                            transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
                                        }
                                    }
                                }
                            }
                        }
                        
                        &:hover{
                            .DropdownMenu{
                                visibility: visible; /* shows sub-menu */
                                opacity: 1;
                                transform: translateY(0%);
                                transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
                            }
                        }
                        
                    }
                }
            }

            .Bot {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: right;

                .SearchBar {
                    @include flex(65%);

                    .Input {
                        width: 100%;
                        display: flex;
                        position: relative;
                        border: solid 1px $C_Border;
                        padding: 5px 15px;
                        border-radius: 40px;

                        input {
                            outline: none;
                            box-shadow: none;
                            color: $C_555;
                            border: none;
                            line-height: 1;
                        }
                    }
                }

                .Hotline {
                    @include flex(30%);
                    margin-left: 40px;
                    a {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        span {
                            display: block;
                            color: $C_373737;
                        }

                        .Icon {
                            margin-right: 5px;
                            background-color: $C_EBG;
                            padding: 7px 12px;
                            border-radius: 50%;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
