<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang chủ | Sneaker</title>
    <link rel="icon" href="../img/site/black.png" sizes="64x64">
    <!-- Khu vực khai báo thư viện style sử dụng trong dự án -->
    <link rel="stylesheet" href="../css/all.min.css"/>
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../vendors/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <!-- Khu vực khai báo thư viện style sử dụng trong dự án -->
</head>
<body>
<div class="MainWrapper">
    <!-- Header -->
    <section class="Header">
        <!-- Topbar -->
        <div class="Topbar">
            <div class="container">
                <div class="TopbarContent">
                    <div class="Left">
                        <ul class="Topbar TopbarLeft">
                            <li class="ContactItem Phone">
                                <a href="tel:190063349" class="d-flex font12">
                                    <span class="Icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="Text">1900633349</span>
                                </a>
                            </li>
                            <li class="ContactItem Mail">
                                <a href="tel:190063349" class="d-flex font12">
                                    <span class="Icon"><i class="fas fa-envelope"></i></span>
                                    <span class="Text">mwcshop@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="Right">
                        <ul class="Topbar TopbarRight">
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Giới thiệu</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Chính sách bảo hành trọn đời</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Giao hàng toàn quốc</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Góp ý</span>
                                </a>
                            </li>
                            <li class="TopbarItem HasDropdown">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase"><i class="fas fa-chevron-double-down"></i></span>
                                </a>

                                <ul class="DropdownMenu">
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Danh sách cửa hàng</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Cách đo size</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Chính sách đổi trả</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Chính sách bảo mật thông tin</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar -->

        <!-- Main Menu -->
        <div class="MainMenuWrapper">
            <div class="container">
                <div class="MainMenuContent">
                    <div class="Logo">
                        <a href="javascript:void(0);">
                            <img src="../img/site/black.png" alt="Logo" class="img-fluid w-100">
                        </a>
                    </div>
                    <div class="RightMenu">
                        <div class="Top">
                            <ul class="Menu">
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-nu.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Giày nữ</span>
                                    </a>

                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày thể thao</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem HasSubMenu">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót</span>
                                                </a>
                                                <div class="SubMenuContent">
                                                    <ul class="SubMenu">
                                                        <li class="SubMenuItem">
                                                            <a href="javascript:void(0);">
                                                                <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót bít mũi</span>
                                                            </a>
                                                        </li>
                                                        <li class="SubMenuItem">
                                                            <a href="javascript:void(0);">
                                                                <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót hở mũi</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Sandal nữ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày búp bê</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày lười</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dép sục</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dép nữ</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-nam.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Giày nam</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày thể thao nam</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Mọi & Slip on</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Sandal & dép</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Boot</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-3.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 79k</span>
                                    </a>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-4.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 100k</span>
                                    </a>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-5.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 150k</span>
                                    </a>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-6.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Áo khoác</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Áo khoác nữ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Áo khoác cặp</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-7.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Balo - Túi</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Túi đeo chéo</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Balo laptop, du lịch, thời trang</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-8.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Phụ kiện</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Vớ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Chai vệ sinh giày</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dây giày</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Đế lót</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem CartText">
                                    <a href="javascript:void(0);">
                                        <span class="CartIcon">
                                            <i class="fas fa-shopping-cart"></i>
                                            <span class="CartCount">0</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="Bot">
                            <div class="SearchBar">
                                <form action="#">
                                    <div class="Input">
                                        <input type="text" name="search" placeholder="Bạn muốn tìm gì ..." class="w-100">
                                        <button type="button"><span class="SearchIcon"><i class="far fa-search"></i></span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="Hotline">
                                <a href="javascript:void(0);">
                                    <span class="Icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="font13 bueno-regular text-uppercase">Đặt hàng nhanh: <strong>1900633349</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Menu -->
    </section>
    <!-- Header -->
</div>

<!-- Khu vực khai báo thư viện script sử dụng trong dự án -->
<link
    rel="stylesheet"
    href="../vendors/bootstrap/bootstrap.bundle.min.js"
/>
<link rel="stylesheet" href="../vendors/swiper/swiper-bundle.min.js"/>
<link rel="stylesheet" href="../js/common.js"/>
<!-- Khu vực khai báo thư viện script sử dụng trong dự án -->
</body>
</html>
