<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang chủ | Sneaker</title>
    <link rel="icon" href="../img/site/black.png" sizes="64x64">
    <!-- Khu vực khai báo thư viện style sử dụng trong dự án -->
    <link rel="stylesheet" href="../css/all.min.css"/>
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../vendors/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <!-- Khu vực khai báo thư viện style sử dụng trong dự án -->
</head>
<body>
<div class="MainWrapper">
    <!-- Header -->
    <section class="Header">
        <!-- Topbar -->
        <div class="Topbar">
            <div class="container">
                <div class="TopbarContent">
                    <div class="Left">
                        <ul class="Topbar TopbarLeft">
                            <li class="ContactItem Phone">
                                <a href="tel:190063349" class="d-flex font12">
                                    <span class="Icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="Text">1900633349</span>
                                </a>
                            </li>
                            <li class="ContactItem Mail">
                                <a href="tel:190063349" class="d-flex font12">
                                    <span class="Icon"><i class="fas fa-envelope"></i></span>
                                    <span class="Text">mwcshop@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="Right">
                        <ul class="Topbar TopbarRight">
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Giới thiệu</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Chính sách bảo hành trọn đời</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Giao hàng toàn quốc</span>
                                </a>
                            </li>
                            <li class="TopbarItem">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase">Góp ý</span>
                                </a>
                            </li>
                            <li class="TopbarItem HasDropdown">
                                <a href="javascript:void(0);">
                                    <span class="font12 text-uppercase"><i class="fas fa-chevron-double-down"></i></span>
                                </a>

                                <ul class="DropdownMenu">
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Danh sách cửa hàng</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Cách đo size</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Chính sách đổi trả</span>
                                        </a>
                                    </li>
                                    <li class="DropMenuItem">
                                        <a href="javascript:void(0);">
                                            <span class="Text font12 text-uppercase">Chính sách bảo mật thông tin</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar -->

        <!-- Main Menu -->
        <div class="MainMenuWrapper">
            <div class="container">
                <div class="MainMenuContent">
                    <div class="Logo">
                        <a href="javascript:void(0);">
                            <img src="../img/site/black.png" alt="Logo" class="img-fluid w-100">
                        </a>
                    </div>
                    <div class="RightMenu">
                        <div class="Top">
                            <ul class="Menu">
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-nu.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Giày nữ</span>
                                    </a>

                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày thể thao</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem HasSubMenu">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót</span>
                                                </a>
                                                <div class="SubMenuContent">
                                                    <ul class="SubMenu">
                                                        <li class="SubMenuItem">
                                                            <a href="javascript:void(0);">
                                                                <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót bít mũi</span>
                                                            </a>
                                                        </li>
                                                        <li class="SubMenuItem">
                                                            <a href="javascript:void(0);">
                                                                <span class="font12"><i class="fas fa-caret-right"></i>Giày cao gót hở mũi</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Sandal nữ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày búp bê</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày lười</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dép sục</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dép nữ</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-nam.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Giày nam</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Giày thể thao nam</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Mọi & Slip on</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Sandal & dép</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Boot</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-3.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 79k</span>
                                    </a>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-4.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 100k</span>
                                    </a>
                                </li>
                                <li class="MenuItem">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-5.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Sale 150k</span>
                                    </a>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-6.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Áo khoác</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Áo khoác nữ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Áo khoác cặp</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-7.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Balo - Túi</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Túi đeo chéo</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Balo laptop, du lịch, thời trang</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem HasDropdownMenu">
                                    <a href="javascript:void(0);">
                                                <span class="Icon">
                                                    <img src="../img/icon/menu-icon-8.png" alt="Menu Icon" class="img-fluid">
                                                </span>
                                        <span class="Text text-uppercase font14">Phụ kiện</span>
                                    </a>
                                    <div class="DropdownMenu">
                                        <ul class="Dropdown">
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Vớ</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Chai vệ sinh giày</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Dây giày</span>
                                                </a>
                                            </li>
                                            <li class="DropdownItem">
                                                <a href="javascript:void(0);">
                                                    <span class="font12"><i class="fas fa-caret-right"></i>Đế lót</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="MenuItem CartText">
                                    <a href="javascript:void(0);">
                                        <span class="CartIcon">
                                            <i class="fas fa-shopping-cart"></i>
                                            <span class="CartCount">0</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="Bot">
                            <div class="SearchBar">
                                <form action="#" autocomplete="off">
                                    <div class="Input">
                                        <input type="text" name="search" autocomplete="off" placeholder="Bạn muốn tìm gì ..." class="w-100 font12">
                                        <button type="button"><span class="SearchIcon"><i class="far fa-search"></i></span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="Hotline">
                                <a href="javascript:void(0);">
                                    <span class="Icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="font13 bueno-regular text-uppercase">Đặt hàng nhanh: <strong>1900633349</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Menu -->
    </section>
    <!-- Header -->

    <!--Page content-->
    <section class="PageContent HomeWrapper">
        <!--Banner Slide-->
        <div class="BannerSlide SlideRelative">
            <div class="swiper-container SwiperContainer">
                <div class="swiper-wrapper SwiperWrapper">
                    <div class="swiper-slide SwiperSlide">
                        <a href="javascript:void(0);" style="background-image: url('../img/page/home/slide.jpg')"></a>
                    </div>
                    <div class="swiper-slide SwiperSlide">
                        <a href="javascript:void(0);" style="background-image: url('../img/page/home/slide1.jpg')"></a>
                    </div>
                    <div class="swiper-slide SwiperSlide">
                        <a href="javascript:void(0);" style="background-image: url('../img/page/home/slide2.jpg')"></a>
                    </div>
                </div>
            </div>
            <div class="SwiperPagination"></div>
            <div class="SwiperPrev SwiperNavigation">
                <?xml version="1.0" ?>
                <svg data-name="Layer 6" id="Layer_6" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #000;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 2px;
                            }
                        </style>
                    </defs>
                    <title/>
                    <circle class="cls-1" cx="32" cy="32" r="30"/>
                    <path class="cls-1"
                          d="M39.62,49.79a2.54,2.54,0,0,1-1.8-.75L22.58,33.8a2.55,2.55,0,0,1,0-3.6L37.82,15a2.55,2.55,0,1,1,3.6,3.6L28,32,41.42,45.44A2.55,2.55,0,0,1,39.62,49.79Z"/>
                </svg>
            </div>
            <div class="SwiperNext SwiperNavigation">
                <?xml version="1.0" ?>
                <svg data-name="Layer 19" id="Layer_19" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #000;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 2px;
                            }
                        </style>
                    </defs>
                    <title/>
                    <circle class="cls-1" cx="32" cy="32" r="30"/>
                    <path class="cls-1"
                          d="M24.07,50.07a2.2,2.2,0,0,0,1.56-.65L41.49,33.56a2.2,2.2,0,0,0,0-3.12L25.63,14.58a2.2,2.2,0,1,0-3.12,3.12L36.82,32,22.51,46.3A2.2,2.2,0,0,0,24.07,50.07Z"/>
                </svg>
            </div>
        </div>
        <!--Banner Slide-->

        <!--List news-->
        <div class="HomeNews">
            <div class="container">
                <ul class="NewsList HomeList">
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                    <li class="NewsItem">
                        <a href="javascript:void(0);">
                            <h3 class="title text-uppercase font14">ĐIÊU ĐỨNG VỚI 10 MẪU SNAEKER CỰC HOT TẠI MWC</h3>
                            <span class="image">
                                <img class="img-fluid w-100" src="../img/page/home/news.jpg" alt="News Image">
                            </span>

                            <span class="description font14">
                                Nhu cầu mua sắm giày sneaker vào các dịp mỗi năm tại tất cả cửa hàng luôn rất tất bật và sôi nổi nhằm mong muốn có thể "tậu" cho mình được những mẫu giày thích hợp với trang phục. Đây là dịp các bạn có nhiều sự lựa chọn nhất kể cả về mẫu mã lẫn giá cả, hãy cùng điểm qua những mẫu giày sneaker đáng mong đợi nhất năm tại MWC nha
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="LoadMore">
                <button type="button" class="button black-button hover-effect-icon">
                    <?xml version="1.0" encoding="utf-8"?>
                    <svg class="refresh-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"/>
                    </svg>
                    <span class="font12">
                        Xem thêm nhiều tin khác
                    </span>
                </button>
            </div>
        </div>
        <!--List news-->

    </section>
    <!--Page content-->

</div>

<!-- Khu vực khai báo thư viện script sử dụng trong dự án -->
<script src="../vendors/jquery/jquery-3.5.1.min.js"></script>
<script src="../vendors/swiper/swiper-bundle.min.js"></script>
<script src="../vendors/animejs/anime.min.js"></script>
<script src="../js/common.js"></script>
<!-- Khu vực khai báo thư viện script sử dụng trong dự án -->
</body>
</html>
