.ProductWrapper {
    .products-wrapper {
        .product-page-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .filter-title{
                @include fontSize(20);
                font-weight: 500;
                text-transform: uppercase;
                margin: 15px 0;
                @include maxWidth(767){
                    @include fontSize(15);
                }
               a{
                   display: block;
                   color: $C_TEXT;
               }
            }
        }

        .products-content {
            display: flex;
            justify-content: space-between;
            
            @include maxWidth(576){
                flex-direction: column; 
            }

            .product-list {
                @include flex(75%);
                
                @include maxWidth(991){
                    @include flex(65%);
                }
                @include maxWidth(576){
                    @include flex(100%);
                }

                .product-grid {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-row-gap: 35px;
                    grid-column-gap: 35px;
                    
                    @include maxWidth(991){
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 30px;
                    }

                    @include maxWidth(991){
                        grid-template-columns: repeat(1, 1fr);
                        grid-gap: 15px;
                    }

                    .product-item {
                        position: relative;

                        .product-image {
                            cursor: pointer;
                            position: relative;

                            a {
                                position: relative;
                                overflow: hidden;
                                display: block;

                                img {
                                    display: block;
                                }

                                img.front {
                                    transform: scale(1);
                                    @include transition(transform ease-in-out .45s);
                                }

                                img.back {
                                    position: absolute;
                                    top: 0;
                                    left: -100%;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    @include transition(all ease-in-out .45s);
                                }
                            }

                            .discount {
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 2;
                                background-color: $C_TOPBAR_HOVER;
                                padding: 3px 7px;

                                span {
                                    color: $C_WHITE;
                                    @include fontSize(13);
                                    font-weight: 400;
                                }
                            }

                            &:hover {
                                a {
                                    img.front {
                                        transform: scale(0);
                                        @include transition(transform ease-in-out .45s);
                                    }

                                    img.back {
                                        left: 0;
                                        @include transition(all ease-in-out .45s);
                                    }
                                }
                            }
                        }

                        h3 {
                            margin: 10px 0;

                            a {
                                color: $C_BLACK;
                                text-decoration: none;
                                display: block;
                                font-weight: 600;
                                @include fontSize(15);
                                color: $C_TEXT;
                                font-family: $Source;
                            }
                        }

                        .product-color {
                            font-weight: 400;
                            @include fontSize(12);
                            text-transform: uppercase;
                            margin-bottom: 7px;
                        }

                        .product-price {
                            display: flex;
                            align-items: center;

                            p {
                                @include fontSize(13);
                                font-weight: 700;
                                padding: 0;
                                margin: 0;
                            }

                            p.main-price {
                                color: $C_RED;
                            }

                            p.strike-price {
                                margin-left: 10px;
                                color: $C_STRIKE;
                                font-weight: 400;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }

            .product-filter {
                @include flex(23%);

                @include maxWidth(991){
                    @include flex(32%);
                }

                @include maxWidth(576){
                    @include flex(100%);
                }

                .categories-list {
                    h2 {
                        @include fontSize(20);
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $C_TEXT;
                        font-family: $Source;
                        margin: 0;
                    }

                    ul.categories-list {
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0 20px;

                        li {
                            cursor: pointer;

                            a {
                                padding: 5px 0;
                                border-radius: 4px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: $C_WHITE;
                                @include transition(background-color .25s linear);

                                span {
                                    display: block;
                                    text-transform: uppercase;
                                    color: $C_TEXT;
                                }

                                .text {
                                    @include fontSize(14);

                                    svg, i {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                .right-vertical-list {
                    h2.title {
                        @include fontSize(20);
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $C_TEXT;
                        margin-bottom: 20px;
                        font-family: $Source;
                    }

                    ul.filter-list {
                        display: flex;
                        flex-direction: column;

                        .item {
                            padding: 30px 0;
                            border-top: dashed 1px $C_Border;

                            &:first-child {
                                padding-top: 0;
                                border-top: none;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                display: flex;
                                text-decoration: none;
                                justify-content: space-between;
                                align-items: center;

                                span.image {
                                    max-width: 70px;
                                    margin-right: 10px;
                                    overflow: hidden;
                                    border-radius: 4px;
                                    border: solid 1px $C_Border;
                                    display: block;

                                    img {
                                        transform: scale(1);
                                        border-radius: 4px;
                                        display: block;
                                        @include transition(transform ease-in-out .2s);
                                    }

                                    &:hover {
                                        img {
                                            border-radius: 4px;
                                            transform: scale(1.3);
                                            @include transition(transform ease-in-out .2s);
                                        }
                                    }
                                }

                                span.info {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;

                                    .name {
                                        @include fontSize(15);
                                        margin-bottom: 5px;
                                        color: $C_TEXT;
                                        font-weight: 500;
                                    }

                                    .price {
                                        font-style: italic;
                                        font-weight: 400;
                                        @include fontSize(13);
                                        color: $C_TEXT;
                                        font-family: $Source;
                                    }
                                }
                            }
                        }
                    }
                }

                form{
                    div.filter{
                        @include maxWidth(767){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.toggle-filter{
    position: relative;
    a{
        display: block;
    }
    
    .__filterMobile{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: calc(100vw - 30px);
        
        .card{
            border-radius: 0;
            border: 0;
            .card-header{
                border-radius: 0;
                h5{
                    button{
                        border: none;
                        outline: none;
                        box-shadow: none;
                        display: flex;
                        justify-content: space-between;
                        @include fontSize(15);
                        width: 100%;
                        cursor: pointer;
                        span{
                            display: block;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        
        .filter-content{
            padding: 10px 0;
            
            .checkbox-custom{
                label{
                    text-transform: none;
                }
            }
        }
        
        .__close_filter_popup{
            button{
                color: $C_RED;
                width: 100%;
                padding: 12px;
                background: $C_EBG;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}
